@page
@model ROSESHIELD.WEB.VitimasCompletoModel
@{
    ViewData["Title"] = "Vitimas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-3.2.1.js"></script>
<script src="~/js/angular.js"></script>
<script src="~/js/crossfilter.js"></script>
<script src="~/js/fusioncharts.js"></script>
<script src="~/js/angular-fusioncharts.js"></script>
<script src="~/js/angular-fusioncharts.min.js"></script>
<script src="~/js/fusioncharts.theme.fusion.js"></script>
<script src="~/js/fusioncharts.maps.js"></script>
<script src="~/js/ng-map.min.js"></script>
<script src="~/js/angular-block-ui.js"></script>
<link href="~/css/angular-block-ui.css" rel="stylesheet" />

<style type="text/css">
    .btn {
        cursor: pointer !important;
    }
</style>

<br />

<div class="container row p-0 m-0" ng-controller="VitimasCompleto">

    <div class="col-10">
        <h2 class="text-info">LISTA DE VITIMAS COM CADASTRO INCOMPLETO</h2>
    </div>

    <div class="col-2">
        <a class="btn btn-info form-control ">TOTAL:{{TOTALCADASTRADOINCOM}}</a>
    </div>

    <div class="col-12 border p-3 mt-3">   
        <div ng-repeat="itens in CadastroBasico">
            <table id="CadastrosBasicos"
                   class="table table-striped table-bordered flex-nowrap"
                   style="width:100%;">
                <tr class="table-secondary">
                    <th>
                        <label>NOME COMPLETO</label>
                    </th>
                    <th>
                        <label>COMPLEMENTAR:<span id="#SPA_COMPLPOR_{{itens.Id}}"></span>%</label>
                    </th>
                    <th>
                        <label>OCORENCIA:<span id="#SPA_OCORRENCIAPOR_{{itens.Id}}"></span>%</label>
                    </th>
                    <th>
                        <label>FILHOS:<span id="#SPA_FILHOSPOR_{{itens.Id}}"></span>%</label>
                    </th>
                    <th>
                        <label>IDOSO:<span id="#SPA_IDOSOPOR_{{itens.Id}}"></span>%</label>
                    </th>
                    <th>
                        <label>S.O.S:<span id="#SPA_SOSPOR_{{itens.Id}}"></span>%</label>
                    </th>
                </tr>
                <tr>
                    <td>{{itens.NomeCompleto}}</td>
                    <td><button type="button" class="btn btn-outline-danger" ng-click="Buscaomplementar(itens.Id)" id="#BTN_COMPLEMENTAR_{{itens.Id}}" data-toggle="modal" data-target="#COMPLEMENTAR_{{itens.Id}}">COMPLEMENTAR</button></td>
                    <td><button type="button" class="btn btn-outline-danger" ng-click="BuscaOcorrencias(itens.Id)" data-toggle="modal" id="#BTN_OCORRENCIA_{{itens.Id}}" data-target="#OCORRENCIAS_{{itens.Id}}">OCORENCIA</button></td>
                    <td><button type="button" class="btn btn-outline-danger" ng-click="BuscaFilhos(itens.Id)" data-toggle="modal" id="#BTN_FILHOS_{{itens.Id}}" data-target="#FILHOS_{{itens.Id}}">FILHOS</button></td>
                    <td><button type="button" class="btn btn-outline-danger" ng-click="BuscaIdoso(itens.Id)" data-toggle="modal" data-target="#IDOSO_{{itens.Id}}" id="#BTN_IDOSOS_{{itens.Id}}"  >IDOSO</button></td>
                    <td><button type="button" class="btn btn-outline-danger" ng-click="BuscaSOS(itens.Id)" data-toggle="modal" data-target="#SOS_{{itens.Id}}">S.O.S</button></td>
                </tr>
            </table>

            <div class="modal fade" id="COMPLEMENTAR_{{itens.Id}}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">CADASTRO COMPLEMENTAR</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">                               
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>Profissao</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input  id="#Profissao_{{itens.Id}}" ype="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>RendaPessoal</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input  id="#RendaPessoal_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>RendaFamiliar</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input  id="#RendaFamiliar_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>Drogas Licitas</label>
                                    </div>
                                    <div class="col-xl-4">
                                        @*<input  id="#drogaslicitasSIM_{{itens.Id}}" type="text" class="form-control form-control">*@
                                        <select id="#drogaslicitasSIM_{{itens.Id}}" name="drogaslicitasSIM" ng-model="drogaslicitasSIM" class="form-control form-control">
                                            <option value="">--SELECT--</option>
                                            <option value="1">SIM</option>
                                            <option value="2">NÃO</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Quais Drogas </label>
                                    </div>
                                    <div class="col-xl-4">
                                        <input   id="#QualdrogaDescri1_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>Drogas Não Licitas</label>
                                    </div>
                                    <div class="col-xl-4">
                                        @*<input  id="#drogaslicitasNAO_{{itens.Id}}" type="text" class="form-control form-control">*@
                                        <select id="#drogaslicitasNAO_{{itens.Id}}" name="drogaslicitasNAO" ng-model="drogaslicitasNAO" class="form-control form-control">
                                            <option value="">--SELECT--</option>
                                            <option value="1">SIM</option>
                                            <option value="2">NÃO</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Quais Drogas </label>
                                    </div>
                                    <div class="col-xl-4">
                                        <input  id="#QualdrogaDescri2_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>                             
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>Possui filhos</label>
                                    </div>
                                    <div class="col-xl-4">
                                      
                                        <select id="#Possuifilhos_{{itens.Id}}" name="Filhos" ng-model="Filhos" class="form-control form-control">
                                            <option value="">--SELECT--</option>
                                            <option value="1">SIM</option>
                                            <option value="2">NÃO</option>
                                        </select>
                                       
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Qtdo</label>
                                    </div>
                                    <div class="col-xl-4">
                                        <input  id="#Qtdo_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>                               
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>Idoso</label>
                                    </div>
                                    <div class="col-xl-4">
                                        @*<input  id="#Idoso_{{itens.Id}}" type="text" class="form-control form-control">*@
                                        <select id="#Idoso_{{itens.Id}}" name="Idoso_" ng-model="Idoso" class="form-control form-control">
                                            <option value="">--SELECT--</option>
                                            <option value="1">SIM</option>
                                            <option value="2">NÃO</option>
                                        </select>
                                        
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Quantidade</label>
                                    </div>
                                    <div class="col-xl-4">
                                        <input  id="#Quantidade_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" ng-click="SalvarComplemento(itens.Id)" class="btn btn-success" data-dismiss="modal">Salvar</button>                      
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="OCORRENCIAS_{{itens.Id}}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">CADASTRO COMPLEMENTAR</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>TIPO VIOLENCIA</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#TipoViolencia_{{itens.Id}}" ype="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>DIA OCORRIDO </label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#DiaOcorrido_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>LOCAL OCORRIDO </label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#LocalOcorrido_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>TESTEMUNHA</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Testemunha_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>VINCULO COM AGRESSOR</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#VinculocomAgressor_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NUMERO BO </label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#NumeroBO_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" ng-click="SalvarOcorrencias(itens.Id)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="FILHOS_{{itens.Id}}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">CADASTRO DE FILHOS</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NOME FILHO</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Nomefilho_{{itens.Id}}" ype="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>ESCOLA ONDE ESTUDA</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Escolaondeestuda_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>DATA NASCIMENTO</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#DataNascimento_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>ENDEREÇO ESCOLA</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Enderecoescola_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NECESSIDADES ESPECIAIS</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Qualnecessidade_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" ng-click="SalvarFilhos(itens.Id)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                                <div class="modal-footer">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>John</td>
                                                <td>Doe</td>
                                                <td>john@example.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="IDOSO_{{itens.Id}}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">CADASTRO DE IDOSO</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NOME IDOSO</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Nomoidoso_{{itens.Id}}" ype="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>DATA NASCIMENTO</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#DataNascimento_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NECESSIDADES ESPECIAIS</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Qual_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" ng-click="SalvarIdoso(itens.Id)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                        <div class="modal-footer">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="SOS_{{itens.Id}}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">CADASTRO DE CONTATO DE EMERGENCIA</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NOME S.O.S</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#NomeSOS_{{itens.Id}}" ype="text" class="form-control form-control">
                                    </div>
                                </div>
                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>NUMERO CELULAR</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#NumeroCelular_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                                <div class="row" style="margin: 1px 1px 10px 1px;">
                                    <div class="col-xl-2">
                                        <label>VINCULO</label>
                                    </div>
                                    <div class="col-xl-10">
                                        <input id="#Vinculo_{{itens.Id}}" type="text" class="form-control form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" ng-click="SalvarSOS(itens.Id)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                        <div class="modal-footer">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

  

</div>

<script src="~/js/VitimasCompleto.js"></script>

@section Scripts{

}

