<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ROSESHIELD.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/angular.js"></script>
    <script src="~/js/crossfilter.js"></script>
    <script src="~/js/fusioncharts.js"></script>
    <script src="~/js/angular-fusioncharts.js"></script>
    <script src="~/js/angular-fusioncharts.min.js"></script>
    <script src="~/js/fusioncharts.theme.fusion.js"></script>
    <script src="~/js/fusioncharts.maps.js"></script>
    <script src="~/js/ng-map.min.js"></script>
    <script src="~/js/angular-block-ui.js"></script>


    <link href="~/css/angular-block-ui.css" rel="stylesheet" />

    <style type="text/css">

        /*a:hover {
            background-color: black !important;
            color: white !important;

            border-radius: 1px 35px 1px 27px  !important;
        }

        link:hover{
            text-shadow: white 1px 1px 20px;
             color: white !important;
        }*/

    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            //$('.date').mask('00/00/0000');
            //$('.time').mask('00:00:00');
            //$('.date_time').mask('00/00/0000 00:00:00');
            //$('.cep').mask('00000-000');
            //$('.phone').mask('0000-0000');
            //$('.phone_with_ddd').mask('(00) 0000-0000');
            //$('.phone_us').mask('(000) 000-0000');
            //$('.mixed').mask('AAA 000-S0S');
            //$('.cpf').mask('000.000.000-00', { reverse: true });
            //$('.cnpj').mask('00.000.000/0000-00', { reverse: true });
            //$('.money').mask('000.000.000.000.000,00', { reverse: true });
            //$('.money2').mask("#.##0,00", { reverse: true });
            //$('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {
            //    translation: {
            //        'Z': {
            //            pattern: /[0-9]/, optional: true
            //        }
            //    }
            //});
            //$('.ip_address').mask('099.099.099.099');
            //$('.percent').mask('##0,00%', { reverse: true });
            //$('.clear-if-not-match').mask("00/00/0000", { clearIfNotMatch: true });
            //$('.placeholder').mask("00/00/0000", { placeholder: "__/__/____" });
            //$('.fallback').mask("00r00r0000", {
            //    translation: {
            //        'r': {
            //            pattern: /[\/]/,
            //            fallback: '/'
            //        },
            //        placeholder: "__/__/____"
            //    }
            //});
            //$('.selectonfocus').mask("00/00/0000", { selectOnFocus: true });
        });

    </script>


</head>
<body ng-app="App">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">S2C</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/Index">USUARIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ong/Ong">ONG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Perfil/Perfil">PERFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Oficiais/Oficiais">OFIC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Parceiro/Parceiro">PARCEIRO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Profissional/Profissional">PROF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Sistema/Sistema">SISTEMA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SiteSistema/SiteSistema">M.SISTEMAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/GeoReferencia/GeoReferencia">GEO-REF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Vagas/Vagas">VAGAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Vitimas/Vitimas">VITIMAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/VitimasCompleto/VitimasCompleto">VIT.COMPLETO</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ROSESHIELD.WEB - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
       
    @RenderSection("Scripts", required: false)
</body>
</html>
