@page
@model ROSESHIELD.WEB.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Accounts Users</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="UserAccounts.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-sm-2">
                <label>NOME COMPLETO</label>
            </div>

            <div class="col-sm-6">
                <input asp-for="UserAccounts.NomeCompleto" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="UserAccounts.NomeCompleto" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>IDADE</label>

            </div>
            <div class="col-6">
                <input asp-for="UserAccounts.Idade" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="UserAccounts.Idade" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>ENDEREÇO</label>
            </div>
            <div class="col-6">
                <input asp-for="UserAccounts.Endereco" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="UserAccounts.Endereco" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>CONTATO</label>
            </div>
            <div class="col-6">
                <input asp-for="UserAccounts.Contato" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="UserAccounts.Contato" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>CPF</label>
            </div>
            <div class="col-6">
                <input asp-for="UserAccounts.Cpf" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="UserAccounts.Cpf" class="text-danger"></span>
            </div>
        </div>

        <hr />
        <div class="form-group row">
            <div class="col-3">
                <label>DIGITE SEU USUARIO</label>
            </div>
            <div class="col-7">
                <input asp-for="UserAccounts.UsuarioAccesso.EmailUser" class="form-control" />
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="UserAccounts.UsuarioAccesso.EmailUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label>DIGITE UMA SENHA</label>
            </div>
            <div class="col-7">
                <input asp-for="UserAccounts.UsuarioAccesso.Password" class="form-control" />
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="UserAccounts.UsuarioAccesso.Password" class="text-danger"></span>
            </div>
        </div>
        <hr />
        
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

