@page
@model ROSESHIELD.WEB.EditOngModel
@{
    ViewData["Title"] = "EditOng";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">EDITAR CADASTROS</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Ong.Id" class="form-control" />
        <div class="form-group row">
            <div class="col-sm-2">
                <label>RAZÃO SOCIAL</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Ong.RazaoSocial" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Ong.RazaoSocial" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-sm-2">
                <label>NOME FANTASIA</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Ong.NomeFantasia" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Ong.NomeFantasia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label>NOME (COMO A ONG E CONHECIDA)</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Ong.NomeOng" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Ong.NomeOng" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-2">
                <label>CNPJ/CPF</label>
            </div>
            <div class="col-8">
                <input asp-for="Ong.CNPJ_CPF" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Ong.CNPJ_CPF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>CONTATO</label>
            </div>
            <div class="col-8">
                <input asp-for="Ong.Contato" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Ong.Contato" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>EMAIL</label>
            </div>
            <div class="col-6">
                <input asp-for="Ong.Email" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Ong.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>ENDEREÇO</label>
            </div>
            <div class="col-6">
                <input asp-for="Ong.Endereco" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Ong.Endereco" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-3">
                <label>CIDADE</label>
            </div>
            <div class="col-7">
                <input asp-for="Ong.Cidade" class="form-control" />
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="Ong.Cidade" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label>EMAIL</label>
            </div>
            <div class="col-7">
                <input asp-for="Ong.Email" class="form-control" />
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="Ong.Email" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="UPDATE" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Ong" class="btn btn-success form-control">BACK TO LIST</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}



