@page
@model ROSESHIELD.WEB.CreateProfissionalModel
@{
    ViewData["Title"] = "CreateProfissional";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">CADASTRO DE PROFISIONAIS</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">

        <div class="form-group row">
            <div class="col-sm-2">
                <label>NOME PROFISSIONAL</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Profissional.NomeProfissional" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.NomeProfissional" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-sm-2">
                <label>CONTATO</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Profissional.Contato" class="form-control phone" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.Contato" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                <label>ENDEREÇO</label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Profissional.Endereco" class="form-control" />
            </div>
            <br />
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.Endereco" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-2">
                <label>E-MAIL</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.Email" class="form-control email" id="emailid" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.Email" id="emailvalid" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>RAMO DE ATUAÇÃO</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.RamoAtuacao" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.RamoAtuacao" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>DIAS DE ATENDIMENTO</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.DiaAtendimento" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.DiaAtendimento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>HORARIOS DE ATENDIMENTO</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.HorarioAtendimento" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.HorarioAtendimento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>VALOR COBRADO</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.ValorCobrado" class="form-control money2" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.ValorCobrado" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label>DESCONTO</label>
            </div>
            <div class="col-8">
                <input asp-for="Profissional.Desconto" class="form-control desconto" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Profissional.Desconto" class="text-danger"></span>
            </div>
        </div>



        <hr />

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="CREATE" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Profissional" class="btn btn-success form-control">BACK TO LIST</a>
            </div>
        </div>

    </form>
</div>


<script src="~/js/Mascaras.js"></script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


