@page
@model IndexModel.Salvar
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <label class="form-control" asp-for="firstname"></label>
        <label asp-for="firstname" class="form-control"></label>
        <h1 class="display-4">BEM VINDO AO SISTEMA DE SEGURANÇA ROSE SHIELD</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">bSistema focado no auxilio de mulheres que sofreram ou estão sofrendo qualquer tipo de abuso</a>.</p>
    </div>
