@page
@model ROSESHIELD.WEB.CreateGeoReferenciaModel
@{
    ViewData["Title"] = "CreateGeoReferencia";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




    <form method="post">

        <script src="~/js/jquery-3.2.1.js"></script>
        <script src="~/js/angular.js"></script>
        <script src="~/js/crossfilter.js"></script>
        <script src="~/js/fusioncharts.js"></script>
        <script src="~/js/angular-fusioncharts.js"></script>
        <script src="~/js/angular-fusioncharts.min.js"></script>
        <script src="~/js/fusioncharts.theme.fusion.js"></script>
        <script src="~/js/fusioncharts.maps.js"></script>
        <script src="~/js/ng-map.min.js"></script>
        <script src="~/js/angular-block-ui.js"></script>
        <link href="~/css/angular-block-ui.css" rel="stylesheet" />

        <div class="border container" style="padding:30px;" ng-controller="CtrlGeo">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label>ENDEREÇO</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="Geo.Endereco" id="endereco" class="form-control" /> @*ng-model="ModelEndereco"*@
                </div>
                <br />
                <div class="col-sm-4">
                    <span asp-validation-for="Geo.Endereco" class="text-danger"></span>
                </div>
            </div>

            <hr />

            <div class="form-group row">
                <div class="col-sm-2">
                    <label>CEP</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="Geo.CEP" id="cep" class="form-control cep" />
                </div>
                <br />
                <div class="col-sm-4">
                    <span asp-validation-for="Geo.CEP" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label>COMPLEMENTO DE ENDEREÇO</label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Geo.Complemento" id="complemento" class="form-control" />
                </div>
                <br />
                <div class="col-sm-4">
                    <a href="https://www.latlong.net/" target="_blank">>SITE GEO</a>
                    @*<button ng-click="GeoReferenciaGet()" class="btn btn-info" value="">BUSCAR GEO</button>*@
                </div>

            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label>GEOREFERENCIA (LAT)</label>
                </div>
                <div class="col-8">
                    <input asp-for="Geo.Lat" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Geo.Lat" id="lat" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label>GEOREFERENCIA (LONG)</label>
                </div>
                <div class="col-8">
                    <input asp-for="Geo.Long" id="long" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Geo.Long" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>SELECIONAR O USUARIO PARA ESSA REFERENCIA</label>
                </div>
                <div class="col-7">
                    <select ng-model="selectedLogins" class="form-control" style="width: 100%;">
                        <option ng-repeat="x in basic" value="{{x.Id}}">{{x.NomeCompleto}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="visibility:hidden !important;">
                <div class="col-8">
                    <label>SELECIONAR O USUARIO PARA ESSA REFERENCIA</label>
                </div>
                <div class="col-4">
                    <input asp-for="Geo.IdUsuario" id="idusuario" class="form-control" value="{{selectedLogins}}" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="Geo.IdUsuario" class="text-danger"></span>
                </div>
            </div>


            <hr />

            <div class="form-group row">
                <div class="col-3 offset-4">
                    <input type="button" ng-click="SalvarGeoReferencia()" value="CREATE" class="btn btn-primary form-control" />
                </div>
                <div class="col-3">
                    <a asp-page="GeoReferecia" class="btn btn-success form-control">BACK TO LIST</a>
                </div>

            </div>
        </div>
    </form>

    <script src="~/js/Mascaras.js"></script>

@section Scripts{

    @*<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCypG8QjTkeOxBNGJZ8F8nGvy6A1fhm5Wk"></script>*@

}

<script src="~/js/GeoScript.js"></script>
